<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/street.css">
    <title>{STREET}</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-flex">
            <a href="index.html">
                <div class="navbar-name">Ruas de Braga</div>
            </a>
        </div>
    </nav>
    <div class="meta">
        <h1>{STREET}</h1>
        <p>Número: {NUMBER}</p>
    </div>
    <div class="content">
        <h2>Figuras: </h2>
        <div class="figures">
            {FIGURES}
        </div>
        <h2>Sobre a rua: </h2>
        <div class="details">
            {DETAILS}
        </div>
        <h2>Casas Da Rua: </h2>
        <div class="houses">
            {HOUSES}
        </div>
        <a class="back" href="index.html">
            Voltar
        </a>
    </div>
</body>
</html>
