extends layout 

block content 
    .w3-pale-yellow
        .w3-card-4
            header.w3-container.w3-brown.w3-center
                h1 #{title}
            .w3-container
                form.w3-container(method="POST")
                    fieldset.w3-margin-top.w3-margin-bottom
                        legend Dados do Período
                        label Nome
                        input.w3-input.w3-round(type="text", name="id")
                    br
                    button.w3-btn.w3-brown.w3-mb-2(type="submit") Registar Período
            div
                a.w3-btn.w3-brown(style="position:fixed; bottom: 25px; right: 25px", href='/periodos') Voltar à página anterior
            footer.w3-container.w3-dark-gray.w3-center
                h5
                    i Gerado por Tomás Sousa
